

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.discSection {
    min-height: 650px;
    height: 100vh;
    padding: 40px 0 40px 0;
    background-image: url('../../Recursos/Imagenes/Portadas/AmorEnDesamorFondo.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    position: relative;
}

.discInfoContainer {
    height: auto;
    width: 512px;
}

.imageDisc {
    position: static;
    margin: auto;
    min-height: 512px;
    max-width: 512px;
    background-image: url('../../Recursos/Imagenes/Portadas/AmorEnDesamor.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin-bottom: 2vh;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    transition: 0.3s;
}

    .imageDisc:hover {
        transform: rotate(-5deg);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    }

.eventSection {
    position: relative;
    text-align: center;
    height: 100vh;
    background: rgb(209,209,209);
    background: linear-gradient(0deg, rgba(209,209,209,1) 0%, rgba(255,255,255,1) 100%);
}

    .eventSection button {
        padding: 18px 32px;
        font-size: 16px;
        border: 0px;
        background-color: #58333E;
        border-radius: 10px;
        color: white;
        -webkit-box-shadow: 0px 4px 4px 0px rgba(88,51,62,1);
        -moz-box-shadow: 0px 4px 4px 0px rgba(88,51,62,1);
        box-shadow: 0px 4px 4px 0px rgba(88,51,62,1);
        transition: 0.3s;
    }

        .eventSection button:hover {
            -webkit-box-shadow: 10px 10px 30px 0px rgba(88,51,62,1);
            -moz-box-shadow: 10px 10px 30px 0px rgba(88,51,62,1);
            box-shadow: 10px 10px 30px 0px rgba(88,51,62,1);
        }

.eventTable {
    width: 60vw;
    margin: 10vh 0;
}

    .eventTable th {
        background-color: rgba(223, 223, 223, .66);
        padding: 16px;
    }

    .eventTable td {
        border-top: 2px solid #707070;
        padding: 16px;
    }

        .eventTable td a {
            color: #58333E;
            text-decoration: none;
        }

    .eventTable .rowName {
        color: #58333E;
    }


