#songsContent {
    background: rgb(209,209,209);
    background: linear-gradient(0deg, rgba(209,209,209,1) 0%, rgba(255,255,255,1) 100%);
}

.imageDisc {
    position: static;
    margin: 0 auto;
    height: 256px;
    width: 256px;
    border-radius: 20px;
    margin-bottom: 2vh;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    transition: 0.3s;
}

    .imageDisc:hover {
        transform: rotate(-5deg);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    }

.eventSection {
    padding-top: 110px;
    height: auto;
}

.eventTable {
    width: 60vw;
    margin: 0 auto;
}

    .eventTable .encabezado {
        background-color: rgba(223, 223, 223, .66);
        padding: 16px;
    }

    .eventTable .contenido {
        border-top: 2px solid #707070;
        padding: 16px;
    }

        .eventTable .contenido a {
            text-decoration: none;
        }

    .eventTable .rowName {
        color: #58333E;
    }
